Repository albertocavalcante/actions: changes, and which lefthook commands are due for each by the changed paths.
All: dprint-check, eslint, typecheck, workflow-lint, workflow-pin

dprint-check:
  run: dprint check {staged_files}

eslint:
  run: bunx eslint {staged_files}

typecheck:
  run: "for dir in */; do\n  if [ -f \"$dir/package.json\" ]; then\n    (cd \"$dir\" && bun run typecheck)\n  fi\ndone\n"

workflow-lint:
  run: ghalint run -c tools/lint/ghalint.yaml
  fail_text: Fix GitHub Actions workflow issues (ghalint)

workflow-pin:
  run: pinact run --verify -c tools/lint/pinact.yaml
  fail_text: Run 'pinact run -u -c tools/lint/pinact.yaml' to pin action versions

feat: add ghalint and pinact for workflow linting
  .github/workflows/ci.yml
  AGENTS.md
  lefthook.yml
  release-notes/.gitignore
  release-notes/dist/index.d.ts
  release-notes/dist/index.d.ts.map
  release-notes/dist/index.js
  release-notes/dist/index.js.map
  release-notes/dist/sourcemap-register.js
  release-notes/dist/types.d.ts
  release-notes/dist/types.d.ts.map
  release-notes/package.json
  tools/lint/ghalint.yaml
  tools/lint/pinact.yaml
Due: dprint-check, eslint, typecheck, workflow-lint, workflow-pin

chore(ci): update actions to latest versions
  .github/workflows/ci.yml
Due: dprint-check, workflow-lint, workflow-pin

feat(run-copybara): add reusable Copybara action
  run-copybara/README.md
  run-copybara/action.yml
Due: dprint-check

docs(run-copybara): acknowledge olivr/copybara-action as alternative
  run-copybara/README.md
  run-copybara/action.yml
Due: dprint-check

feat: add update-homebrew-tap, compute-checksums actions; enhance release-notes
  README.md
  compute-checksums/.gitignore
  compute-checksums/.prettierrc
  compute-checksums/README.md
  compute-checksums/action.yml
  compute-checksums/bun.lock
  compute-checksums/dist/index.d.ts
  compute-checksums/dist/index.js
  compute-checksums/dist/licenses.txt
  compute-checksums/eslint.config.mjs
  compute-checksums/package.json
  compute-checksums/src/index.ts
  compute-checksums/tsconfig.json
  release-notes/action.yml
  release-notes/src/index.ts
  update-homebrew-tap/.gitignore
  update-homebrew-tap/.prettierrc
  update-homebrew-tap/README.md
  update-homebrew-tap/action.yml
  update-homebrew-tap/bun.lock
  update-homebrew-tap/dist/index.d.ts
  update-homebrew-tap/dist/index.js
  update-homebrew-tap/dist/licenses.txt
  update-homebrew-tap/dist/types.d.ts
  update-homebrew-tap/eslint.config.mjs
  update-homebrew-tap/package.json
  update-homebrew-tap/src/index.ts
  update-homebrew-tap/src/types.ts
  update-homebrew-tap/tsconfig.json
Due: dprint-check, eslint, typecheck

feat: add packaging actions and rust-build workflow
  .github/workflows/rust-build.yml
  README.md
  check-nightly-changes/action.yml
  package-deb/action.yml
  package-rpm/action.yml
Due: dprint-check, workflow-lint, workflow-pin

chore: update default Rust version to 1.90.0
  .github/workflows/rust-build.yml
Due: dprint-check, workflow-lint, workflow-pin

feat: add go-build reusable workflow and fix rust-build ghalint compliance
  .github/workflows/go-build.yml
  .github/workflows/rust-build.yml
  README.md
  release-notes/dist/index.js
  release-notes/src/types.ts
Due: dprint-check, eslint, typecheck, workflow-lint, workflow-pin

Path conditions:
  dprint-check: any of: **/*.{md,json,yml,yaml}
  eslint: any of: **/*.ts
  typecheck: any of: **/*.ts
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  workflow-pin: any of: .github/workflows/*.{yml,yaml}
